name: build

on: [push, pull_request]

jobs:

  linux:
    name: ubuntu
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: configure and build shared library
      run: |
        cmake . -DCMAKE_BUILD_TYPE=Release -DMESHOPT_BUILD_SHARED_LIBS=ON
        cmake --build .
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        name: meshoptimizer-linux
        files: |
          libmeshoptimizer.so
          src/meshoptimizer.h
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  macos:
    name: macos
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: configure and build shared library
      run: |
        cmake . -DCMAKE_BUILD_TYPE=Release -DMESHOPT_BUILD_SHARED_LIBS=ON
        cmake --build .
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        name: meshoptimizer-osx
        files: |
          libmeshoptimizer.dylib
          src/meshoptimizer.h
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd
    steps:
    - uses: actions/checkout@v2
    - name: configure and build shared library
      run: |
        cmake . -DCMAKE_BUILD_TYPE=Release -DMESHOPT_BUILD_SHARED_LIBS=ON -DCMAKE_MSVC_RUNTIME_LIBRARY="MultiThreaded" -DCMAKE_CL_64=1 -A x64
        cmake --build . -- -p:Configuration=Release -p:Platform=x64 -verbosity:minimal
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        name: meshoptimizer-win
        files: |
          Release/meshoptimizer.dll
          src/meshoptimizer.h
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}